.Rproj.user
.Rhistory
.RData
.Ruserdata

*.o
src/onlineforecast\.so

cache/

misc-R/*cache*

vignettes/*cache*
vignettes/*genfig*
vignettes/*_files*
vignettes/*.html
vignettes/*.R

tmp/

sdem.Rcheck

.DS_Store

miscR/linear_example_kalman.so
miscR/linear_example_kalman.o
miscR/linear_example_kalman.cpp
miscR/linear_example_TMB.so
miscR/linear_example_TMB.o
miscR/linear_example_TMB.cpp
miscR/linear_example_exact.so
miscR/linear_example_exact.o
miscR/linear_example_exact.cpp